.container-m {
  width: 75%;
}

.box1 {
  margin: 0.1rem 0;
  padding: 0.3rem;
  border: solid 1px #000000;
}

.box2 {
  margin: 0.1rem 0;
  padding: 0.3rem;
  border: solid 1px #000000;
  border-left: none;
}

.image_input_btn{
  display: block;
  background-color: #228B22;
  width: 180px;
  height: 30px;
  margin: auto;
  border-radius: 5px;
  padding-top: 2px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.image_form{
  display: none;
}
